DATABASE_URL="postgresql://postgres:[Faizanarif123*]@db.ttwhwgegkrroenxatgev.supabase.co:5432/postgres"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dml0YWwtcGlrYS02Ny5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_h0SeZUjUDUHPNSaAmq8PkGHVuxPSQjVanUsYiMG9Tb
OPENAI_API_KEY="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"
USDA_API_KEY="FRrAvVZz2oYEZI7UMR9dAKmUefmMcku9icoRo43m"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
